<table>
  <thead>
    <tr>
      <th>Auctions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= "Item name: " + auction.item_name %></td>
        <td><%= "Item description: " + auction.item_desc %></td>
        <td><%= "Highest bid: " + auction.highest_bid %></td>
        <td><%= link_to 'Show', auction %></td>
        <% if session["user_id"] == auction.user_id %>
          <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
          <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= button_to "Bid on Auction", "/bids/place/#{auction.auction_id}" %></td>
        <% end %>
        <% if session["is_admin"] == "true" %>
          <td><%= link_to "Stop Auction", "/auctions/stop/#{auction["auction_id"]}" %></td>
        <% end %>    
      </tr>
    <% end %>
  </tbody>
</table>

<br>