<h1>Editing auction</h1>

<%= form_tag "/auctions/#{params[:id]}/update" do %>

	<%= label_tag :auction_start_time %><br>
	<%= datetime_select :auction_start_time, :auction_start_time %><br>

    <%= label_tag :auction_length%>  <br>
    <%= number_field_tag :auction_length, in: 3...8 %><br>   
   
    <%= label_tag :item_name  %> <br>
    <%= text_field_tag :item_name %> <br>  
   
    <%= label_tag :item_desc %> <br>
    <%= text_field_tag :item_desc %> <br>  
   
    <%= label_tag :quantity  %> <br>
    <%= number_field_tag :quantity, min: 1 %>  <br>  <br>
   
   <%= label_tag :buy_it_now %>  <br>
    <%= radio_button_tag :buy_it_now, :true, true %> 
       <%= label_tag :true %>  <br>
    <%= radio_button_tag :buy_it_now, :false %> 
       <%= label_tag :false %>  <br><br>

    <%= label_tag :buy_now_price  %> <br>
    <%= number_field_tag :buy_now_price, nil, step: 0.01 %>  <br>  
   
    <%= label_tag :start_bid  %> <br>
    <%= number_field_tag :start_bid, nil, min: 0, step: 0.01 %>  <br>  
   
    <%= label_tag :shipping_cost  %> <br>
    <%= number_field_tag :shipping_cost, nil, min: 0, step: 0.01 %>   <br>         

   <%= label_tag :category %>  <br>
    <% @categories.each_with_index do |category, index| %>
    <input type="radio" name=<%= :category %> value=<%= "#{category.category_id}" %> 
      <% if index == 0 %>
        checked
      <% end %>
      ><strong><%= "#{category.category}" %></strong><br>
    <% end %>
    <%= submit_tag "Update Auction" %>
  <br><br>
<% end %>


<%= link_to 'Show', @auction %> |
<%= link_to 'Back', auctions_path %>
