<h3>Search Auctions</h4><br>
<h4>By Keyword</h4>

<%= form_tag "/auctions/keyword_search" do %>

  <%= text_field_tag :keyword %><br>
  <%= submit_tag "Search" %>

<% end %><br>

<h4>By Category</h4>

<%= form_tag "/auctions/category_search" do %>
	<% @categories.each do |category| %>
		<%= check_box_tag :category, category["category"] %>
		<%= label_tag category["category"] %><br>
	<% end %>
  	<%= submit_tag "Search" %>

<% end %>