<p id="notice"><%= notice %></p>


  <h3><strong>Shopping Cart</strong></h3><br>
  <% @items.each do |array| %>
  	<% auction = array[0] %>
  	<% bid = array[1] %>
  	<%= auction.item_name %><br>
  	<%= auction.item_desc %><br>
  	<%= "Price: " + bid.amount.to_s %><br>
  	<%= link_to "Purchase Item", "/transactions/#{auction.auction_id}/new" %><br><br>
  <% end %><br>

