<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.user_description %>
</p>

<% if session[:is_admin] %>
  <%= link_to "ADMIN: Suspend User", "/users/#{params[:id]}/suspend", data: { confirm: 'Are you sure you want to suspend this user?' } %><br>
<% elsif session[:user_id] == params[:id].to_i %>
	<%= link_to 'Edit User', "/users/#{session[:user_id]}/edit" %> | 
	<%= link_to 'Delete User', "/users/#{session[:user_id]}", method: :delete %> | 
    <%= link_to 'Suspend Account', "/users/#{params[:id]}/suspend", data: { confirm: 'Are you sure you want to suspend your account? You will need to contact customer service (they are VERY slow) to reactivate your account' } %> <br>	<br> 
<% end %>  

<%= link_to "See Bid History", "/bids/#{@user.user_id}/user_bid_history" %><br><br>

<%= link_to 'Back', users_path %>
