<h1>Editing category</h1>

<%= form_tag "/categories/#{params[:id]}/update" do %>
	<%= label_tag :category %><br>
    <%= text_field_tag :category %><br>
    <%= submit_tag "Update Category" %>
<% end %><br>

<%= link_to 'Back', "/categories/manage" %>
