<h1>New flag</h1>

<%= form_tag "/flags/#{params[:id]}/create" do %>

   <%= label_tag :flag_type %>  <br>
    <%= radio_button_tag :flag_type, :inappropriate, true %> 
       <%= label_tag :inappropriate %>  <br>
    <%= radio_button_tag :flag_type, :counterfeit %> 
       <%= label_tag :counterfeit %>  <br><br>

    <%= submit_tag "Flag Auction" %>

<% end %>

